body {
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    height: 100vh;
    height: 100%;
    overflow-x: hidden;
    flex-direction: column;
    overflow: auto;
    margin: 0;
}

header {
    display: flex;
    background-color: black;
    justify-content: center;
}

h1 {
    color: white;
}

.mainContent {
    display: flex;
    background-color: gray;
    flex: 1;
    padding: 1rem;
    gap: 1rem;
}

#innerContainer {
    display: flex;
    flex-wrap: wrap;
    height: 80vmin;
    width: 80vmin;
    border: 2px solid black;
}

#workspace {
    display: flex;
    background-color: aqua;
    flex: 1;

}

#canvasContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(196, 255, 221);
    flex: 40%;
    padding: 2rem;
    justify-content: center;
       
}

footer {
    display: flex;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 1rem;
}

.gridDiv {
    
    flex: 1 1 auto;
    background-color: white;
    border: 1px solid rgb(230, 230, 230);
    box-sizing: border-box;

}