body {
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    height: 100vh;
    height: 100%;
    overflow-x: hidden;
    flex-direction: column;
    overflow: auto;
    margin: 0;
}

header {
    display: flex;
    background-color: #ca6c6c;
    justify-content: center;

}

h1 {
    color: white;
    font-size: 45px;
    font-family: Brush Script MT;
    font-style: italic;
}

.mainContent {
    display: flex;
    background-color: rgb(238, 238, 238);
    flex: 1;
    padding: 1rem;
    gap: 1rem;
}

#innerContainer {
    display: flex;
    flex-wrap: wrap;
    height: 80vmin;
    width: 80vmin;
    border: 2px solid black;
}

#workspace {
    display: flex;
    flex-direction: column;
    background-color: #f6e2bd;
    flex: 1;
    justify-content: center;
    padding: 1rem;
    border-radius: 10px;
    align-items: center;

}

#sliderContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#slider {
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none;
    background: transparent;
    cursor: pointer;
    width: 250%;
    height: 18px;
    background: #eeffc5;
    border-radius: 5px;
    outline: solid 8px #405665;
    margin-bottom: 2rem;

}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  width: 30px;
  height: 30px;
  background: #fe9179;
  outline: solid 8px #405665;
  border-radius: 50%;
}

.brushContainer {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pencil:hover {
    filter: brightness(1.1);
}
#brush:hover {
    filter: brightness(1.1);
}
#unicorn:hover {
    filter: brightness(1.1);
}

#canvasContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: #97b1c6;
    flex: 40%;
    padding: 2rem;
    justify-content: center;
    border-radius: 10px;
     
}

#colorInput {
    display: none;
}

footer {
    display: flex;
    background-color: #ca6c6c;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 1rem;
}

.gridDiv {
    
    flex: 1 1 auto;
    background-color: white;
    border: 1px solid rgb(230, 230, 230);
    box-sizing: border-box;

}

p {
    font-size: large;
    font-family: Roboto;
    font-weight: bold;
}

#sliderDisplay {
    font-size: large;
    font-family: Roboto;
    font-weight: bold;
}